.friends-page {
    padding: 50px 0;
}
.friends-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    max-width: 900px;
    width: 100%;
    text-align: center;
}
.friends-list li {
    list-style-type: none;
}